
@keyframes bannerSlide {
    from {
      transform: translateX(-100%); 
    }
    to {
      transform: translateX(0); 
    }
  }
  
  
  .banner img {
    animation: bannerSlide 5s infinite linear; 
  }
  



